@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  @apply bg-[#fafafa];
}
.dark body {
  @apply bg-gray-900; /* Or keep it default if you don't want to change */
}

* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.recording {
  color: firebrick;
  display: inline-block;
}
.recording::before {
  content: "🔴";
  animation: recording 600ms alternate infinite;
}
@keyframes recording {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.2;
  }
}

/* Technical Accuracy */
.color-technical-accuracy {
  background-color: rgba(255, 99, 132, 0.6);
}

/* Clarity */
.color-clarity {
  background-color: rgba(54, 162, 235, 0.6);
}

/* Problem Solving */
.color-problem-solving {
  background-color: rgba(255, 206, 86, 0.6);
}

/* Real World Impact */
.color-real-world-impact {
  background-color: rgba(75, 192, 192, 0.6);
}

/* Confidence Level */
.color-confidence-level {
  background-color: rgba(153, 102, 255, 0.6);
}

/* Communication Skills */
.color-communication-skills {
  background-color: rgba(255, 159, 64, 0.6);
}

@keyframes float {
  0%,
  100% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bg-gradient-to-r {
  background-size: 200% 200%;
  animation: gradient 15s ease infinite;
}
