@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.recording {
  color: firebrick;
  display: inline-block;
}
.recording::before {
  content: '🔴';
  animation: recording 600ms alternate infinite;
}
@keyframes recording {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.2;
  }
}

/* Technical Accuracy */
.color-technical-accuracy {
  background-color: rgba(255, 99, 132, 0.6);
}

/* Clarity */
.color-clarity {
  background-color: rgba(54, 162, 235, 0.6);
}

/* Problem Solving */
.color-problem-solving {
  background-color: rgba(255, 206, 86, 0.6);
}

/* Real World Impact */
.color-real-world-impact {
  background-color: rgba(75, 192, 192, 0.6);
}

/* Confidence Level */
.color-confidence-level {
  background-color: rgba(153, 102, 255, 0.6);
}

/* Communication Skills */
.color-communication-skills {
  background-color: rgba(255, 159, 64, 0.6);
}

@keyframes float {
  0%,
  100% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Disable focus styling from ProseMirror */
.ProseMirror.ProseMirror-Focused {
  outline: none !important;
  box-shadow: none !important;
  border-color: inherit !important;
}
/* Completely removes any ProseMirror focus border */
.tiptap:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: inherit !important;
}

/* Also ensure base editor styles are clean */
.tiptap {
  border: none !important;
  outline: none !important;
}
.tiptap pre {
  background-color: #f3f4f6; /* gray-100 */
  padding: 1rem;
  border-radius: 0.375rem; /* rounded-md */
  overflow-x: auto;
  font-family: monospace;
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.tiptap code {
  background: none;
  padding: 0;
  font-size: inherit;
}

.tiptap {
  padding-left: 0;
}

.tiptap ul {
  list-style-type: disc;
  padding-left: 1.25rem;
  margin-left: 1rem;
}

.tiptap li {
  margin-left: 0.5rem;
}

/* editor.css */
div::-webkit-scrollbar {
  width: 8px;
}

div::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

div::-webkit-scrollbar-track {
  background: transparent;
}

@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 2s linear infinite;
}

@keyframes pulse-glow {
  0%,
  100% {
    transform: scale(1.2);
    opacity: 0.9;
  }
  50% {
    transform: scale(1.6);
    opacity: 0.6;
  }
}

.animate-pulse-glow {
  animation: pulse-glow 2s ease-in-out infinite;
}
.swiper {
  height: 100%;
  width: 100%;
}

.swiper .swiper-pagination-bullet-active {
  transform: scale(2);
  transform-origin: center;
}
